@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR');

* {
    font-family: 'Noto Sans KR', 'Noto Sans', sans-serif !important;
}

a {
    text-decoration: none;
    border-bottom: none;
}

/* banner */
section#banner {
    /*background-color: yellow;*/
}

/* layout - post */
.post-content p {
    margin: 3px 0;
}

.post-content code {
    margin: 0;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
    margin: 0.5em 0;
}

hr {
    border: 0;
    border-bottom: solid 1px #fff;
    margin: 1.5em 0;
}

div.half-blank {
    height: 0.5em;
    margin: 0;
}

div.blank {
    height: 1em;
    margin: 0;
}

div.twin_blank {
    height: 2em;
    margin: 0;
}

div.third_blank {
    height: 3em;
    margin: 0;
}

pre.highlight {
    margin-bottom: 0.8em;
}

/* category */
.post-list-item {
    padding: 15px 20px;
    margin-bottom: 2em;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 2px 1px #eee;
}

.post-list-item:last-child {
    margin-bottom: 0;
}

.post-list-item-title {
    margin-bottom: 3px;
}

.post-list-item-date {
    font-size: 12px;
}